section#advantages.advantages
	.container
		.advantages__wrapper
			.advantages__image
				img(src='images/advantages.jpg', srcset='images/advantages@2x.jpg 2x', alt='')
			.advantages__content
				.title.title--left.advantages__title Наши преимущества
				.advantages__items
					.advantages__item
						+icon('machine')(width='64', height='66')
						p Официальный <br> дистрибьютер <span>Lavazza</span>
					.advantages__item
						+icon('box')(width='62', height='67')
						p Осуществляем <br> <span>бесплатную</span> доставку
					.advantages__item
						+icon('person')(width='56', height='66')
						p Индивидуальный подход <br> к <span>каждому</span> клиенту
					.advantages__item
						+icon('gear')(width='63', height='65')
						p Предоставляем <br> сервисное <span>обслуживание</span>