section#choice.choice
	.container
		.title Натуральный кофе
		.choice__wrapper
			.choice__col
				.choice__item
					p Высокое качество
					p Процесс помола и дозировки совершается на высокоточном оборудовании в Италии. <br>
						|  А это залог того, что Ваш напиток всегда идеален.
				.choice__item
					p Количество кофе
					p Капсула содержит 7-9 г кофе, в зависимости от помола и сорта.
						|  Это оптимальное количество для того, чтобы напиток был насыщенным и ароматным.
				.choice__item
					p Герметичная упаковка
					p Сразу после помола кофе попадает <br> в герметичную упаковку.
						|  Аромат свежеобжаренного зерна полностью сохраняется.
			.choice__col
				.choice__image
					img(src='images/capsule-1.png', alt='')
					img(src='images/capsule-2.png', alt='')
					img(src='images/capsule-3.png', alt='')
			.choice__col
				.choice__item
					p Большой выбор
					p Lavazza выпускает капсулы, содержащие 12 разных сортов кофе. Есть даже кофе без кофеина.
						|  Чтобы приготовить 2 чашки с разным вкусом, просто используйте 2 разных капсулы.
				.choice__item
					p Натуральный кофе
					p В отличие от многочисленных аналогов, <br> в оригинальных капсулах Lavazza содержится только 100%
						|  свежемолотый кофе без добавок и ароматизаторов.
				.choice__item
					p Безопасные материалы
					p Упаковка капсульного кофе изготавливается из безопасного сырья используемого для пищевой промышленности.
		.choice__btn
			+button('Заказать звонок', '', '#')