section.question
	.container
		.title.title--left Вопрос-ответ
		.question__wrapper
			.question__col
				.question__item
					.question__toggle
						p Я живу за городом, могу ли я воспользоваться услугой?
						.question__plus
					.question__text 123
				.question__item
					.question__toggle
						p Что я получаю, как клиент?
						.question__plus
					.question__text 123
				.question__item
					.question__toggle
						p Как быстро я смогу получить кофемашину?
						.question__plus
					.question__text 123
			.question__col
				.question__item
					.question__toggle
						p Сколько кофе нужно заказывать?
						.question__plus
					.question__text 123
				.question__item
					.question__toggle
						p Где я могу установить кофемашину?
						.question__plus
					.question__text(style='display: block;') У нас большой парк кофемашин под любые задачи. Мы поможем Вам выбрать кофемашину для квартиры, рабочего места, а также в столовую и кафе.